@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>This application is designed as a project for CS 341. The application can provide you information about crimes in Chicago.</p>
