@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Muhammad Zeeshan<br />
    University of Illinois<br />
    <abbr title="Phone">Phone:</abbr>
    773-814-4062
</address>

<address>
    <strong>Support:</strong> <a href="mailto:mzeesh2@uic.edu">mzeesh2@uic.edu</a><br />
</address>
