@page
@model GetCrimeInputModel
@{
  ViewData["Title"] = "Get Crime Input";
}

<div class="container">  
    <h2>Which area are you interested in?</h2>  
    <hr />  
    <br />  
		<form action="CrimeInfo" method="get">
				
        <div class="row">  
            <div class="col-md-4">  
                <label asp-for="Input">Enter area number or (partial) name:</label>  
                <input asp-for="Input" class="form-control" />  
            </div>  
        </div>   
				
        <br />  
        <input type="submit" value="Lookup" class="btn btn-primary" />  
        <a class="btn btn-default" href="/">Cancel</a>  
				
    </form>
</div>

